data/CAT/cat_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Document">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="token">
          <xsd:complexType>
	    <xsd:simpleContent>
		<xsd:extension base="xsd:string" >
            		<xsd:attribute name="t_id" type="xsd:int" />
            		<xsd:attribute name="sentence" type="xsd:int" />
           		 <xsd:attribute name="number" type="xsd:int" />
		</xsd:extension>
	   </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Markables">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="EVENT_MENTION">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="token_anchor">
                      <xsd:complexType>
                        <xsd:attribute name="t_id" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="m_id" type="xsd:int" />
                  <xsd:attribute name="linkedEntityName" type="xsd:string" />
                  <xsd:attribute name="linkedTimestamp" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="TIMEX3">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="token_anchor">
                      <xsd:complexType>
                        <xsd:attribute name="t_id" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="m_id" type="xsd:int" />
                  <xsd:attribute name="functionInDocument" type="xsd:string" />
                  <xsd:attribute name="value" type="xsd:string" />
                  <xsd:attribute name="type" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>              
              <xsd:element name="DCT">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="token_anchor">
                      <xsd:complexType>
                        <xsd:attribute name="t_id" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="m_id" type="xsd:int" />
                  <xsd:attribute name="functionInDocument" type="xsd:string" />
                  <xsd:attribute name="value" type="xsd:string" />
                  <xsd:attribute name="type" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="ENTITY_MENTION">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="token_anchor">
                      <xsd:complexType>
                        <xsd:attribute name="t_id" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="m_id" type="xsd:int" />
                  <xsd:attribute name="type" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="doc_name" type="xsd:string" />
      <xsd:attribute name="doc_id" type="xsd:int" />
      <xsd:attribute name="src_url" type="xsd:anyURI" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
